Source: linux
Section: utils
Priority: optional
Maintainer: Ali Rıza KESKIN <parduscix@yandex.ru>
Build-Depends: make
Standards-Version: 4.3.0
Homepage: https://example.org

Package: linux
Architecture: all
Depends: ${misc:Depends}, libc6
Description: The linux kernel
 linux kernel for debian gnu/linux
