name: CI
on:
  push:
    branches: [ sulincix ]
  pull_request:
    branches: [ sulincix ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: |
          sudo apt update
          sudo apt install devscripts equivs -yq
          yes | sudo mk-build-deps -i
          sudo dpkg-buildpackage -b
